<!DOCTYPE html>
<html lang="pt-br" 
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/base-layout">    
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Bem vindo ao sistema!</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-header">
			<!-- Exibe o nome do usuário -->
			<h1><span sec:authentication="principal.nome"></span>, Bem vindo ao sistema!</h1>
		</div>
		<p>Use o menu acima para navegar.</p>
	</div>	
</body>
</html>